$vio:#b731aa;
$bGreen:#2eb6b4;
$blue:#276eca;
$drkVio:#5611b9;
$nav:#000000;
$btnGrad:linear-gradient(to right,rgba(141,50,249,1),rgba(104,108,244,1),rgba(68,161,238,1));
$bg:#0b0813;
$bg2:#090810;
$txt-vio:#cd62fe;
$brd:#8d299f;
$pnk:#784e80;

$nun:'Nunito', sans-serif;
$open:'Open Sans', sans-serif;
$bgGrad:linear-gradient(#08060e,#090810);